{% extends 'base.html' %}
{% block title %} Create a New User {% endblock %}

{%block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, msg in messages %}
        <li class="{{ category }}">{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

 <h1>Create a New User</h1>
    <div class="container">
        <form action="/users/new" method="POST">
            <label for="first-name">First Name</label>
            <input type="text" name="first_name" id="first_name" placeholder="Enter a first name" required>

            <label for="last-name">Last Name</label>
            <input type="text" name="last_name" id="last_name" placeholder="Enter a last name" required>

            <label for="image-url">Image URL</label>
            <input type="text" name="image_url" id="image_url" placeholder="Enter an image for this user">

            <button type="submit">Add</button>
        </form>
    </div>
{% endblock %}
