{% extends 'base.html' %}
{% block title %} <h1>Create a user</h1> {% endblock %}

{%block content %}
<body>
    <div class="container">
        <form action="create-user">
            <label for="first-name">First Name</label>
            <input type="text" name="first_name" id="first-name" placeholder="Enter a first name">

            <label for="last-name">First Name</label>
            <input type="text" name="last_name" id="last-name" placeholder="Enter a last name">

            <label for="image-url">Image URL</label>
            <input type="text" name="image_url" id="image-url" placeholder="Enter an image for this user">

            <button>Add</button>
        </form>
    </div>
</body>
{% endblock %}
