{% extends 'base.html' %}
{% block title %} Create a New User {% endblock %}

{%block content %}
 <h1>Create a New User</h1>
    <div class="container">
        <form action="/users/new" method="POST">
            <label for="first-name">First Name</label>
            <input type="text" name="first_name" id="first-name" placeholder="Enter a first name" required>

            <label for="last-name">Last Name</label>
            <input type="text" name="last_name" id="last-name" placeholder="Enter a last name" required>

            <label for="image-url">Image URL</label>
            <input type="text" name="image_url" id="image-url" placeholder="Enter an image for this user">

            <button type="submit">Add</button>
        </form>
    </div>
{% endblock %}
