{% extends 'base.html' %}
{% block title %} User Detail Page {% endblock %}

{%block content %}
<h1>User Details</h1>
    <div class="container">
        <!-- <img> -->
         <ul>
            <li>First Name: {{user.first_name}}</li>
            <li>Last Name: {{user.last_name}}</li>
            <li>Photo: </li>
         </ul>

         <form>
            <button formaction="/users/{{user.user_id}}/edit" method="POST">Edit</button>
            <button formaction="/users/{{ user.user_id }}/delete" method="POST">Delete</button>
        </form>
         <a href="/">Go Back</a>
    </div>
{% endblock %}